extends layout

block content
  style.
    div.ex1 {
    margin-top: 100px;
    text-align: justify;
    text-justify: inter-word;
    width : 50%;
    }
  h1 About Grade Your Professor
  //- .col-md-8
  .ex1  This is an online platform for the student community of IIT Kanpur where students can give feedback on professors by rating them over a few questions. Having professor reviews beforehand is very crucial in designing semester templates which otherwise remains chaotic. Students can use this platform to know about the public-view performance of professors and hence decide on whether to take courses with him or not. We would like to emphasize that any professor rating only symbolizes the professor’s teachings.
  p
    | Buit on NodeJS as part of CS252 Semester project
