extends layout

block content
  style.
    div.ex1 {
    margin-top: 30px;
    text-align: justify;
    text-justify: inter-word;
    width : 50%;
    }
  h2 About Grade Your Professor
  .ex1  Grade Your Professor is a platform for IIT Kanpur students to rate their professors on three indicators - quality of teaching, grading policy and course workload. A fourth indicator called mentee-experience helps graduate/PhD students choose their advisors or mentors. Grade Your Professor helps students choose courses based on the reviews of the professors offering them. It was originally built to fulfill partial course requirements for the course CS252 at IIT Kanpur. If you find a bug in the app, or if you’d like to contribute towards making Grade Your Professor even better, please email any of the authors below.  

  h3(style='margin-top: 70px;') Moral Code of Conduct
  .ex1 Please keep the following points in mind before you post a review:
  ol(type="1", style='width: 50%; text-align: justify;')
    li Base your ratings on your personal experience and not on hearsay or rumours.
    li Try to rate the professors precisely on the criteria in the form. Don’t let your general perception of the professor bias how you rate them on other indicators.
    li If you didn’t like the course, it might not be the professor’s fault - maybe you just didn’t like the course.
    li Getting stuck with a professor who expects more of you isn’t necessarily a bad thing.
    li Don’t base your judgement of the professor on just their rating - consider reading the reviews before you make a judgement. Some professors get good/bad ratings for entirely unreasonable reasons - written reviews often give a better idea of what the professor is like.
    li A lot of students are going to base their course selection on your reviews/ratings - please try to be as fair as possible and do not post false reviews.

