extends layout

block content
  h1 Statistics
  hr 
  style.
    .bestcontainer {
      width: 100%;
      background-color: #f6f6f6;
      border-radius: 15px;
      padding: 30px;
      //- margin: 15px;
    }
  
  .row
    .col-md-6
      .bestcontainer
        h3(style="font-weight: bold; color: #5858a6;") Generous Grader
        h4 Sandeep Shukla